body {
    font-weight: 200;
}
h1 {
    font-size: 30pt;
}
.masthead {
    font-size: larger;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    padding: 15px;
    font-size: larger;
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nounderline {
    text-decoration: none !important;
    color: black;
}
#hand {
    padding: 25px 25px 25px 25px !important;
}
#table {
    padding: 25px 25px 25px 25px !important;
}
#handlabel {
    padding-top: 30px;
}
#tablelabel {
    padding-top: 30px;
}
#scorelabel {
    padding-top: 30px;
    padding-bottom: 30px;
}
#gameMessageContainer {
    height: 15vh;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
#handcontainer {
    min-height: 20vh;
}
#tablecontainer {
    min-height: 20vh;
}
#scorecontainer {
    min-height: 10vh;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#promptContainer {
    padding-bottom: 25px;
}
.spacer {
    margin: 25px 25px 25px 25px !important;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.table {
    margin: auto;
}
@media (min-width: 768px) {
    .hand-card:hover {
        transform: scale(1.7);
        z-index: 5;
    }
    .table-card:hover {
        transform: scale(1.7);
        z-index: 5;
    }
}
.border-info {
    border-width: 2px !important;
}