:root {
    --hand-zoom: 1;
    --table-zoom: 1;
}

body {
    font-weight: 200;
    background-color: #fff;
}
h1 {
    font-size: 30pt;
}
.masthead {
    font-size: larger;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    padding: 15px;
    font-size: larger;
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nounderline {
    text-decoration: none !important;
    color: black;
}
.accordion-button{
    display:block;
}
#hand {
    padding: 25px 25px 25px 25px !important;
}
#table {
    padding: 25px 25px 25px 25px !important;
}
#handlabel {
    padding-top: 30px;
    padding-bottom: 25px;
}
#tablelabel {
    padding-top: 30px;
    padding-bottom: 25px;
}
#scorelabel {
    padding-top: 30px;
    padding-bottom: 30px;
}
#gameMessageContainer {
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
#handcontainer {
    min-height: 20vh;
    padding-bottom: 25px;
}
#tablecontainer {
    min-height: 20vh;
    padding-bottom: 25px;
}
#scorecontainer {
    min-height: 10vh;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#promptContainer {
    padding-bottom: 25px;
}
.spacer {
    margin: 25px 25px 25px 25px !important;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.table {
    margin: auto;
}

.hand-card {
    transition: transform .2s;
}
.table-card {
    transition: transform .2s;
}

.hand-card:hover {
    transform: scale(1.05);
    z-index: 5;
}
.table-card:hover {
    transform: scale(1.05);
    z-index: 5;
}

.border-info {
    border-width: 0.3rem !important;
}

.buttoncontainer {
    padding-top: 25px;
}

.slidercontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: Grey;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: Grey;
    cursor: pointer; /* Cursor on hover */
  }

.card-deck {
overflow-x: scroll;
}

.hand-card {
    min-height: calc(var(--hand-zoom) * 10rem);
    min-width: calc(var(--hand-zoom) * 15rem);
    margin-right: 5px;
    object-fit: cover;
}

.table-card {
    min-height: calc(var(--table-zoom) * 10rem);
    min-width: calc(var(--table-zoom) * 15rem);
    margin-right: 5px;
    object-fit: cover;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Accordion Header - Active >>> .accordion-button:not(.collapsed) */

/* Accordion Header - Inactive */
.accordion-button.collapsed {
    background-color: #f1f1f1;
}

/* Style the summary bar */
#summary {
    z-index: 10;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #343a40;
    color: white;
    padding-top: 1em;
    margin-top: 1em;
}

.summary_field {
    overflow: visible;
    text-align: center;
}