body {
    font-weight: 200;
}
h1 {
    font-size: 30pt;
}
.masthead {
    font-size: larger;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    padding: 15px;
    font-size: larger;
    height: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nounderline {
    text-decoration: none !important;
    color: black;
}
#hand {
    padding: 25px 25px 25px 25px !important;
}
#handlabel {
    padding-top: 30px;
}
#gameMessageContainer {
    height: 15vh;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#promptInputContainer {
    padding-top: 25px;
    padding-bottom: 25px;
}