<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quarantine Dixit</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css?{{ data.random_number }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header class="title">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1>Hi {{ data.player_name }}</h1>
                    <p>Game ID: {{ data.game_id }}</p>
                </div>
            </div>
        </div>
    </header>

    <div id="gameMessageContainer" class="container bg-dark text-center">
        <span id="gameMessage"></span>
    </div>

    <div class="container text-center">
        <button id="startGameButton" class="btn btn-dark" style="display:none;">Start Game</button>
    </div>

    <div id="tablecontainer" class="container bg-light text-center" style="display:none;">
        <div id="tablelabel">
            <h3>Table</h3>
        </div>
        <div class="row center-block" id="table">
            <!-- tableCards appear here -->
        </div>
    </div>

    <div class="spacer"></div>

    <div id="handcontainer" class="container bg-light text-center" style="display:none;">
        <div id="handlabel">
            <h3>Your Hand</h3>
        </div>
        <div class="row" id="hand">
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src="" class="card-img-top" id="hand1">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src="" class="card-img-top" id="hand2">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src="" class="card-img-top" id="hand3">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src=""  class="card-img-top" id="hand4">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src=""  class="card-img-top" id="hand5">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card hand-card">
                    <img src=""  class="card-img-top" id="hand6">
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div id="scorecontainer" class="container bg-light text-center" style="display:none;">
        <div id="scorelabel">
            <h3>Player Scores</h3>
        </div>
        <table id="scores" class="table"></table>
    </div>

    <script type="text/javascript">
        var player_name="{{ data.player_name }}"
        var game_id="{{ data.game_id }}"
        var creator="{{ data.creator }}"
        var started="{{ data.started }}"
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
    <script src="/static/js/play.js?{{ data.random_number }}"></script>
</body>

</html>